[tool.poetry]
name = "blueye.sdk"
version = "0.1.0"
description = "SDK for controlling a Blueye Pioneer"
authors = ["Sindre Hansen <sindre.hansen@blueye.no>",
           "Aksel Lenes <aksel.lenes@blueye.no"]
packages = [
  { include = "blueye" }
]

readme = "README.md"
repository="https://github.com/blueye-robotics/blueye.sdk"
homepage ="https://www.blueyerobotics.com"
keywords = ["Blueye", "Pioneer", "Robotics", "SDK", "Software Development Kit"]

[tool.poetry.dependencies]
python = "^3.7"
"blueye.protocol" = "^1.1.2"
xbox360controller = {version = "^1.1.2", optional = true }
asciimatics = {version = "^1.11.0", optional = true}

[tool.poetry.dev-dependencies]
pytest = "5.0.1"
pytest-mock = "^1.10.4"
portray = "^1.3.0"
pre-commit = "^1.18.3"
black = "^19.3b0"
mkdocs-macros-plugin = "^0.2.4"
flake8 = "^3.7.8"
pymdown-extensions = "^6.1"
python-coveralls = "^2.9.3"

[tool.poetry.extras]
examples = ["xbox360controller", "asciimatics"]

[tool.portray.mkdocs]
repo_url = "https://github.com/BluEye-Robotics/blueye.sdk"
repo_name = ""
plugins = ["search", "macros"]
python_module = "doc_utils" # For macros plugin
site_name = "Blueye SDK"
markdown_extensions = ["admonition",
                       "pymdownx.arithmatex",
                       "pymdownx.caret",
                       "pymdownx.critic",
                       "pymdownx.details",
                       "pymdownx.inlinehilite",
                       "pymdownx.magiclink",
                       "pymdownx.mark",
                       "pymdownx.smartsymbols",
                       "pymdownx.superfences",
                       "pymdownx.tilde",
                       ]

[tool.portray.mkdocs.theme]
favicon = "docs/media/blueye_b.svg"
logo = "docs/media/blueye_b.svg"
name = "material"
palette = {primary = "white", accent = "blue"}

[[tool.portray.mkdocs.nav]]
"About the Pioneer" = "README.md"

[[tool.portray.mkdocs.nav]]
"Quick Start" = "docs/quick_start.md"

[[tool.portray.mkdocs.nav]]
    [[tool.portray.mkdocs.nav.Movement]]
    "From the CLI" = "docs/movement/from-the-CLI.md"
    [[tool.portray.mkdocs.nav.Movement]]
    "With an XBox Controller" = "docs/movement/with-an-xbox-controller.md"

[[tool.portray.mkdocs.nav]]
    [[tool.portray.mkdocs.nav.Video]]
    "Basic Gstreamer Pipeline" = "docs/video/basic-gstreamer-pipeline.md"

[tool.black]
line-lenght = 100

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
