[tool.poetry]
name = "blueye.sdk"
version = "2.0.1"
description = "SDK for controlling a Blueye underwater drone"
authors = ["Sindre Hansen <sindre.hansen@blueye.no>",
           "Johannes Schrimpf <johannes.schrimpf@blueye.no>",
           "Aksel Lenes <aksel.lenes@blueye.no>"]
packages = [
  { include = "blueye" }
]

include= ["blueye.sdk_docs/**/*"]
readme = "README.md"
repository="https://github.com/blueye-robotics/blueye.sdk"
homepage ="https://www.blueyerobotics.com"
keywords = ["Blueye", "Pioneer", "Pro", "Robotics", "SDK", "Software Development Kit"]

[tool.poetry.dependencies]
python = "^3.8"
asciimatics = {version = "^1.11.0", optional = true}
inputs = {version = "^0.5", optional = true}
pandas = {version = "^1.3", optional = true}
matplotlib = {version = "^3.1.1", optional = true}
webdavclient3 = {version = "^3.14.6", optional = true}
requests = "^2.22.0"
tabulate = "^0.8.5"
packaging = "^22.0"
"blueye.protocol" = "^2.3.0"
python-dateutil = "^2.8.2"
pyzmq = "^25.0.0"
proto-plus = "^1.22.2"

[tool.poetry.dev-dependencies]
pytest = "^7.4"
pytest-mock = "^3.11"
mike = "^1.1"
mkdocs = "^1.5"
mkdocs-material = "^9.4"
mkdocs-macros-plugin = "^1.0"
pdocs = "^1.2"
pymdown-extensions = "^10.1"
pre-commit = "^3.3"
black = "^23.7"
pytest-cov = "^4.1"
requests-mock = "^1.11"
freezegun = "^1.2"

[tool.poetry.extras]
examples = ["inputs", "asciimatics", "pandas", "matplotlib", "webdavclient3"]

[tool.black]
line-length = 100
target-version = ['py38', 'py39', 'py310', 'py311']

[tool.pytest.ini_options]
markers = "connected_to_drone: a mark for test that can only be run when connected to a drone, useful when developing"

addopts = "--cov=blueye --cov-report=xml:coverage.xml --cov-report=html --cov-append"

filterwarnings = ["ignore::DeprecationWarning:blueye","ignore::DeprecationWarning:pkg_resources"]

[build-system]
requires = ["poetry>=1.3.0"]
build-backend = "poetry.masonry.api"
