[tool.poetry]
name = "blueye.sdk"
version = "0.1.0"
description = "SDK for controlling a Blueye Pioneer"
authors = ["Sindre Hansen <sindre.hansen@blueye.no>",
           "Aksel Lenes <aksel.lenes@blueye.no"]
packages = [
  { include = "blueye" }
]

[tool.poetry.dependencies]
python = "^3.7"
"blueye.protocol" = "^1.1.2"
xbox360controller = {version = "^1.1.2", optional = true }
asciimatics = {version = "^1.11.0", optional = true}

[tool.poetry.dev-dependencies]
pytest = "5.0.1"
pytest-mock = "^1.10.4"
portray = "^1.3.0"
pre-commit = "^1.18.3"
black = "^19.3b0"
mkdocs-macros-plugin = "^0.2.4"
flake8 = "^3.7.8"

[tool.poetry.extras]
examples = ["xbox360controller", "asciimatics"]

[tool.portray.mkdocs]
repo_url = "https://github.com/BluEye-Robotics/blueye.sdk"
repo_name = ""
plugins = ["search", "macros"]
python_module = "doc_utils" # For macros plugin

[tool.portray.mkdocs.theme]
favicon = "docs/blueye_b.svg"
logo = "docs/blueye_b.svg"
name = "material"
palette = {primary = "white", accent = "blue"}

[tool.black]
line-lenght = 100

[build-system]
requires = ["poetry>=1.0.0b"]
build-backend = "poetry.masonry.api"
